---
- name: download...
  become: yes
  become_user: root
  get_url:
    url: '{{cassandra_tgz_url}}'
    dest: /tmp/{{cassandra_tgz}}
    mode: '0644'
    timeout: '{{cassandra_download_timeout_seconds}}'
    checksum: '{{cassandra_checksum}}'

- name: unarchive...
  become: yes
  become_user: root
  unarchive:
    copy: no
    src: /tmp/{{cassandra_tgz}}
    dest: '{{cassandra_install_parent_dir}}'
    creates: '{{cassandra_install_parent_dir}}/{{cassandra_name}}'
    
- name: link...
  become: yes
  become_user: '{{cassandra_user}}'
  file:
    src: '{{cassandra_install_parent_dir}}/{{cassandra_name}}'
    dest: '{{cassandra_install_parent_dir}}/cassandra'
    state: link
