---
- name: download...
  become: yes
  become_user: root
  get_url:
    url: '{{cassandra_tgz_url}}'
    dest: /tmp/{{cassandra_tgz}}
    mode: 0644
    timeout: '{{cassandra_download_timeout_seconds}}'
    checksum: '{{cassandra_checksum}}'

- name: unarchive...
  become: yes
  become_user: root
  unarchive:
    remote_src: yes
    src: /tmp/{{cassandra_tgz}}
    dest: '{{cassandra_install_parent_dir}}'
    creates: '{{cassandra_install_dir}}'
    
- name: link...
  become: yes
  become_user: root
  file:
    src: '{{cassandra_install_dir}}'
    dest: '{{cassandra_link_dir}}'
    state: link

- name: add cassandra binaries to default login shell
  become: yes
  become_user: root
  with_items:
    - f: cassandra.sh
      d: /etc/profile.d
  template:
    src: '{{item.f}}.j2'
    dest: '{{item.d}}/{{item.f}}'
    mode: '{{item.m|default("0644")}}'
