---
- name: create cassandra group
  become: yes
  become_user: root
  group:
    name: '{{cassandra_group}}'
    state: present

- name: create cassandra user
  become: yes
  become_user: root
  user:
    name: '{{cassandra_user}}'
    group: '{{cassandra_group}}'
    home: '{{cassandra_home_dir}}'
    state: present
  
- name: download...
  become: yes
  become_user: root
  get_url:
    url: '{{cassandra_tgz_url}}'
    dest: /tmp/{{cassandra_tgz}}
    mode: '0644'
    timeout: '{{cassandra_download_timeout_seconds}}'

- name: unarchive...
  become: yes
  become_user: cassandra
  unarchive:
    copy: no
    src: /tmp/{{cassandra_tgz}}
    dest: '{{cassandra_home_dir}}'
    creates: '{{cassandra_home_dir}}/{{cassandra_name}}'
    
- name: link...
  become: yes
  become_user: cassandra
  file:
    src: '{{cassandra_home_dir}}/{{cassandra_name}}'
    dest: '{{cassandra_home_dir}}/cassandra'
    state: link
