# /usr/lib/systemd/system/cassandra.service

[Unit]
Description=Cassandra
After=network.target

[Service]
PIDFile={{cassandra_home_dir}}/apache-cassandra/run/apache-cassandra.pid
User=cassandra
Group=cassandra
ExecStart={{cassandra_home_dir}}/apache-cassandra/bin/cassandra -f -R -p {{cassandra_home_dir}}/apache-cassandra/run/apache-cassandra.pid
StandardOutput=journal
StandardError=journal
LimitNOFILE=100000
LimitMEMLOCK=infinity
LimitNPROC=32768
LimitAS=infinity
Restart=always


[Install]
WantedBy=multi-user.target
